table {
	margin-top: 50px;


	th {
		&:nth-child(1) {
			width: 20%;
		}

		&:nth-child(2) {
			width: 10%;
		}

		&:nth-child(3) {
			width: 20%;
		}

		// Notes
		&:nth-child(4) {
			width: 30%;
		}

		// Date
		&:nth-child(5) {
			width: 20%;
		}
	}
}

th {
	margin-bottom: 20px;
}

tbody {
	width: 100%;
}

td {
	overflow-wrap: anywhere;
	text-align: center;
	//width: 25%;
}

td div {
	width: 80%;
	margin: 0 auto;
}