:root {
	--font-color: #474643;
	--tertiary-color: #717572;
	--background-color: #f0f1f2;
	--content-horizontal-padding: 10px;
	--list-marker: "\2013";
	--list-marker-hover: "\2E17";
}

h1 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1.5em;
}
