nav {
  height: 50px;
  display: flex;
  align-items: center;
  // background-color: var(--secondary-color);
  padding: 0 var(--content-horizontal-padding);
  margin: 0 auto 50px auto;
  justify-content: space-around;

  @media (max-width: 1400px) {
    width: 50%;
  }

  @media (max-width:960px) {
    justify-content: space-between;
    width: 100%;
  }

  menu {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    // list-style-position: inside;
    list-style-type: none;
    justify-content: space-between;

    li {
      // padding: 0 25px;

      a {
        text-decoration: none;
        color: var(--tertiary-color);

      }

      a.current {
        color: var(--font-color);
        border-bottom: solid 1px var(--font-color);
      }
    }
  }
}