.projects-list {
	padding-left: 10px;
    list-style-position: inside;

	li {

		a {
			color: #0077aa;
		}

		&::marker {
			content: var(--list-marker);	
		}
	}

	#diss-desc {
		margin-left: 20px;
	}
}