#name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    transition-property: width;
    font-size: 4em
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    font-weight: normal;
    font-size: 1.5em;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing var(--typewriter-duration) steps(20, end),
    blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}
