.contentBox {
  height: 100vh;
  width: 80%;
  float: left;
  color: white;
  background-color: rgb(48, 2, 107);
}

@keyframes growMenu {
  0% {
    transform: scale(0.5);
    opacity: 0
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
  letter-spacing: .15em; /* Adjust as needed */
  font-weight: normal;
  font-size: 1.5em;
  margin: 0 auto;
  animation:
    typing 2s steps(20, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }

}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.menu-item {
  color: white;
}

.menu-item:hover {
  background-color: rgb(48, 2, 107);
}

.zoom-on-hover:hover {
  transform: scale(1.1)
}