.contentBox {
    height: 100vh;
    width: 95%;
    float: left;
    color: white;
    background-color: rgb(48, 2, 107);
}

@keyframes growMenu {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    letter-spacing: .15em; /* Adjust as needed */
    font-weight: normal;
    font-size: 1.5em;
    margin: 0 auto;
    animation: typing 2s steps(20, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }

}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}

.menu-item {
    color: white;
    /*height: 9vh;*/
    /*width: 9vh;*/
    width: 100%;
    /*height: 0;*/
    /*padding-bottom: 100%;*/
    border: 0.07em #D9DCDC solid;
    border-radius: 3vw;
    font-size: 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 1vh 1vh 0 1vh;*/
    /*z-index: 2;*/
    position: relative;
}

.menu-item-wrapper {
    z-index: 10;
}
.menu-item:hover {
    background-color: rgb(48, 2, 107);
}

.project-item:hover {
    transform: scale(1.1);
}

.project-item:hover span:nth-child(1) {
    display: none;
}

.project-item span:nth-child(2) {
    display: none;
}

.project-item:hover span:nth-child(2) {
    display: inline;
}

.pageNameTooltip {
    display: none;
    position: absolute;
    right: 2vw;
    z-index: -1;
    background-color: #076B6B;
    font-size: 0.8em;
    padding: 3px 3vw 3px 1vw;
    border-radius: 20px;
}

.menu-item:hover .pageNameTooltip {
    display: block;
    /*transform: translate(50px, 0);*/
    animation: tooltipSlideIn 0.5s;
}

@keyframes tooltipSlideIn {
    from {
        right: 0
    }
    to {
        right: 2vw;
    }
}

.menu-item-icon {
    width: 100%;
    filter: invert(1);
    z-index: 2;
    /*position: relative;*/
}